@import url('https://fonts.googleapis.com/css?family=Raleway:900,400|Space+Mono:700|Audiowide|Oswald');
html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
#bg {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  min-width: 100vw;
  min-height: 100vh;
}
.page {
  position: relative;
  width: 100vw;
  height: 100vh;
}
.top {
  font-family: 'Raleway', sans-serif;
  font-weight: 900;
  font-size: 100px;
  color: #fff;
  letter-spacing: -10px;
  display: table-cell;
  vertical-align: middle;
  padding-left: 4%;
}
.series {
  padding: 4%;
  font-size: 60px;
  text-shadow: -8px 3px 0px #B5C2BF;
  font-family: 'Audiowide', cursive;
  color: #fff;
}
.ep {
  background: #0A101E;
}
.ep:nth-child(even) {
  background: #48626E;
}
.movies {
  position: absolute;
  top: 55%;
  left: 0;
  transform: translateY(-50%);
  width: 100vw;
  height: 50vh;
}
.thumbnail {
  width: 50vw;
  min-width: 300px;
}
.movie {
  position: relative;
  width: 50vw;
  min-width: 300px;
  margin: 0 auto;
  display: none;
}
.show {
  display: inherit;
}
.title {
  background: #fff;
  position: absolute;
  top: 10%;
  left: 10%;
  padding: 5px;
  font-family: 'Oswald', sans-serif;
}
.controls {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}
.button {
  font-size: 30px;
  color: #fff;
  padding: 5px;
  font-family: 'Raleway', sans-serif;
  font-weight: 900;
  cursor: pointer;
  background: #1B2C42;
  user-select: none;
}
