html, body {
  padding: 0;
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
}
.title {
  text-align: center;
  font-size: 100px;
  color: rgb(70, 70, 70);
  margin-top: 150px;
  font-family: 'Lobster', cursive;
}
#red {
  color: rgb(255, 60, 60);
  font-family: 'Archivo Black', sans-serif;
}
#start {
  font-family: 'Ubuntu', sans-serif;
  width: 150px;
  height: 50px;
  background: rgb(255,60,60);
  border: none;
  color: #fff;
  font-size: 25px;
}
