@import url('https://fonts.googleapis.com/css?family=Raleway:900,400');
html, body {
  padding: 0;
  margin: 0;
  background: #FFF;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
}
#landing {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #FFF;
  transition: width 10s;
}
#start {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
}
#logo {
  text-align: center;
  font-size: 5em;
  margin-top: 10%;
  font-weight: 900;
}
#tabs {
  position: absolute;
  top: 3px;
  left: 3px;
  overflow-y: hidden;
  width: calc(100% - 6px);
  border-bottom: 3px solid #F00;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  border-radius: 0;
  height: 63px;
  display: none;
}
.tab {
  width: 250px;
  height: 50px;
  font-size: 25px;
  border: 3px solid #F00;
  padding: 5px;
  margin: 2px;
  color: #9F9AA4;
  line-height: 50px
}
.tab:hover {
  box-shadow: 0px 0px 9px 0px rgb(130,130,130);
}
#portal {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  display: none;
}
#p-line {
  position: absolute;
  top: 57px;
  left: 8px;
  border: none;
  height: 3px;
  background: #0000FF;
  width: calc(100% - 8px);
}
.screen {
  display: none;
  position: absolute;
  top: 68px;
  left: 0;
  width: 100vw;
  min-height: calc(100vh - 68px);
}
